@import "base.css";
/*head*/
header{
    height: 0.88rem;
    color: #4ebbfe;
    display: flex;
    padding: 0 0.22rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.1);
}
header > p{
    font-size: 0.38rem;
}
header a{
    color: #4ebbfe;
    width: 0.16rem;
    height: 0.16rem;
}
section{
    padding: 0 0.22rem;
    box-sizing: border-box;
}
.preview{
    padding: 0.32rem;
}
.preview > .person{
    width: 6.4rem;
    height: 1.86rem;
    padding: 0.34rem 0.28rem;
    margin: 0 auto;
    border-radius: 0.1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: left;
    box-shadow: 0 0.01rem 0.25rem 0 rgba(227, 227, 227, 0.75);
}
.preview > .person > .personImg > img{
    width: 1.18rem;
    height: 1.18rem;
    border-radius: 50%;
    box-shadow: 0 0.01rem 0.25rem 0 rgba(204, 204, 204, 0.75);
    border: 0.04rem solid #ffffff;
    margin-right: 0.25rem;
}
.preview > .person > .personMess{
    width: 2.4rem;
}
.preview > .person > .personMess > p{
    font-size: 0.3rem;
    margin: 0.2rem 0;
}
.preview > .person > .personMess > span:nth-child(2){
    font-size: 0.22rem;
    opacity: 0.4;
}
.preview > .person > .personMess > span:nth-child(3){
    font-size: 0.22rem;
    color: #3bacfe;
}
.preview > .person > .promotion{
    margin: 0.3rem 0 0 0.6rem;
}
.preview > .person > div:last-of-type > a > span{
    font-size: 0.22rem;
    color: #3bacfe;
}